@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);


.body {
  background-color: #f5f9f8;
}

.home{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-model{
border-radius: 1em;

}
.small{
background-color: #ffd60a;
}
.medium{
  background-color: #f8961e;

}
.large{
  background-color: #ffd60a;

}
.contact{
background-color: #fafafa;
margin-right: 1em;
margin-left: 1em;
padding-bottom: 1em;
border-color: #FF6347;
text-align: center;
content: icon;


}
.container {
display: grid;
}
.table {
border-collapse: separate;
margin: 5px 0;
font-size: 0.9em;
font-family: sans-serif;
margin-left: auto;
margin-right: auto;

box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}
.table th,
.table td {
padding: 12px 15px;
}
.table tbody td {
border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}
.table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}
.initiallyHidden {
display:none;
}

.menu {
margin-left:20px;
}

.checkOut:hover {
    background-color: #5dff69;
  }

.message {
  color: green;
}
.smallBtn {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: #faedcd(255,255,255,0.1);
    border: 1px solid #faedcd(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: #faedcd(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .smallBtn:hover {
    background-color: #5dff69;
  }
  .mediumBtn {
    display: inline-block;
    padding: 21px 31px;
    border-radius: 15px;
    border: 0;
    text-decoration: none;
    background-color: #faedcd(255,255,255,0.1);
    border: 1px solid #faedcd(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: #faedcd(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .mediumBtn:hover {
    background-color: #5dff69;
  }
  .largeBtn {
    display: inline-block;
    padding: 21px 31px;
    border-radius: 15px;
    border: 0;
    text-decoration: none;
    background-color: #faedcd(255,255,255,0.1);
    border: 1px solid #faedcd(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: #faedcd(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .largeBtn:hover {
    background-color: #5dff69;
  }